.page {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f8f9fa; /* Fundo cinza muito claro para o corpo */
}

main {
    flex: 1;
}

/* Cor da Barra de Topo */
.bg-custom {
    /* MUDAR A COR AQUI: */
    background-color: #1b263b !important; /* Azul Escuro Profissional */
    /* Exemplo Verde: #198754 */
    /* Exemplo Preto: #000000 */
}

.content {
    padding-top: 1.1rem;
}

/* Ajustes para os links ficarem bonitos */
.nav-link {
    font-size: 1rem;
    padding: 0.5rem 1rem !important;
    transition: color 0.2s;
}

    .nav-link:hover {
        color: #fff !important; /* Branco ao passar o rato */
        font-weight: 500;
    }

/* Ícones */
.bi {
    margin-right: 5px;
}
